<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Code Servers</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <% if (reload) { %>
      <meta http-equiv="refresh" content="<%= reload %>">
    <% } %>
    <meta 
  </head>
  <body>
    Please wait while your IDE is being initialized. Thank you!
  </body>
</html>